body {
    background-color: hsl(228, 37%, 86%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(259, 63%, 22%);
    color: hsl(249, 24%, 94%);
    text-align: center;
    padding: 20px;
}

#about, #skills, #projects, #resume, #contact {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: hsla(239, 76%, 23%, 0.992);
    color: hsl(243, 37%, 89%);
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
